<div class="container">
  <div class="d-flex align-items-center justify-content-center flex-column">
    <h1 class="text-center mt-5">Welcome To Scheduled Tweets</h1>
  </div>
</div>
<!-- the button to for connecting to twitter doesn't show in routes due to omniauth gem not showing them
the button to needs setup so that you direct it to the correct route then it needs to be a post request due to security
redirects to twitter then sends a callback -->
