<div class="container">
  <h1 class="text-center my-5">Edit Scheduled Tweet</h1>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= render "tweet_form", tweet: @tweet %>
    </div>
  </div>
</div>
